* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.banner {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(wood.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    color: yellow;
    font-size: 50px;
    margin-top: 30px;
}

p {
    color: white;
    font-size: 30px;
    text-align: justify;
    text-align: -webkit-center; /* For webkit-based browsers like Chrome, Safari */
    text-align: -moz-center; /* For Firefox */
    text-align: -ms-center; /* For Internet Explorer */
    text-align: center; /* Standard syntax */
}
