* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(wood.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  text-align: center;
  margin: 50px;
}

h1 {
  color: yellow;
  font-size: 50px;
  margin-top: 30px;
}

p {
  color: white;
  font-size: 30px;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }
}
